tbody tr:nth-of-type(odd){
background-color: #ededed;

}
 tbody tr:hover {
    // background: linear-gradient(135deg, var(--primary-color), var(--secondary-color));
    transform: translateY(2px) scale(1);
    box-shadow: 0 15px 30px rgba(0, 76, 153, 0.4);
}