<div class="card">
    <div class="card-body">
        <form action="" #todoForm="ngForm" (ngSubmit)="onNoteAdd()">
            <div class="form-group">
                <label for="todoItem"> Todo Item</label>
                <input type="text" class="form-control" ngModel name="note" required>
            </div>
            <button mat-stroked-button color="primary" class="btn-sm mr-3" *ngIf="!isInEditMode ;else updateNdCancel" type="submit">Add
                Note</button>
                 <button mat-stroked-button color="primary" class="btn-sm"
                *ngIf="!isInEditMode" (click)="onReset()" type="button">Reset
                </button>

            <ng-template #updateNdCancel>
                <button mat-stroked-button color="primary" class="btn-block" (click)="onUpdateNote()" type="button">Update
                    Note</button>
                <button mat-stroked-button color="primary" class="btn-block" (click)="onUpdateCancel()" type="button">Cancel
                    Update</button>
            </ng-template>

        </form>
    </div>
</div>